body {
    background-color: #f2f1eb;
}

.navbar {
    background-color: #3a6351;
    color: #f2f1eb;
}

.navbar .navbar-brand,
.navbar .nav-link,
.navbar .navbar-toggler {
    color: #a79277;
}


.navbar-nav .nav-link:hover {
    color: #a79277;
}