{% extends 'base.html'%}

{% block content %}
    <div class="col-lg-8 col-md-10 col-xs-12">
        <div class="hero">
            <p class="name">Szymon Tomasiak</p>
            <p class="tagline">Turning Complexity into Simplicity with Python.</p>
            <div class="row">
                <div class="col-lg-6 col-md-8 col-xs-12">
                    <img src="{{ url_for('static', filename='assets/img/profilowe.jpg') }}" alt="picture" class="rounded-circle shadow-4-strong"/>
                </div>
                <div class="col-lg-6 col-md-8 col-xs-12">
                    <div class="introduction">
                        👋 Hey there! I'm Szymon, a Python Developer.<br/>
                        I specialize in backend development while also being familiar with frontend technologies. Passionate about problem-solving and clean code, I thrive on tackling new challenges and transforming complex ideas into simple, efficient solutions.
                        <br/><br/>
                        🚀 Check out my projects and feel free to reach out if you have any questions or ideas for collaboration!<br>
                        🔹 <a href="{{ url_for('get_all_projects') }}">View My Projects</a> | 📩 <a href="{{ url_for('contact_me') }}">Contact Me</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bio">
            There will be bio section
        </div>
        <div class="skills">
            <ul class="list-unstyled">
                <li></li>
            </ul>
            <div class="row">
                <div class="col">
                    Python <i class="fab fa-python"></i>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col">
                    SQL <i class="fas fa-database"></i>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col">
                    HTML <i class="fab fa-html5"></i>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col">
                    CSS <i class="fab fa-css3-alt"></i>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col">
                    C# <i class="fas fa-code"></i>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="experience">
            There will be experience section
        </div>
        <div class="education">
            There will be education section
        </div>
    </div>
{% endblock %}