{% extends 'base.html'%}

{% block content %}
    <div class="col-lg-8 col-md-10 col-xs-12">
        <div class="hero">
            <p class="name">Szymon Tomasiak</p>
            <p class="tagline">Turning Complexity into Simplicity with Python.</p>
            <div class="row">
                <div class="col-lg-6 col-md-8 col-xs-12">
                    <img src="{{ url_for('static', filename='assets/img/profilowe.jpg') }}" alt="picture" class="rounded-circle shadow-4-strong"/>
                </div>
                <div class="col-lg-6 col-md-8 col-xs-12">
                    <div class="introduction">
                        👋 Hey there! I'm Szymon, a Python Developer.<br/>
                        I specialize in backend development while also being familiar with frontend technologies. Passionate about problem-solving and clean code, I thrive on tackling new challenges and transforming complex ideas into simple, efficient solutions.
                        <br/><br/>
                        🚀 Check out my projects and feel free to reach out if you have any questions or ideas for collaboration!<br>
                        <a>View My Projects</a> | <a>Contact Me</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bio">
            There will be bio section
        </div>
        <div class="skills">
            There will be skills section
        </div>
        <div class="experience">
            There will be experience section
        </div>
        <div class="education">
            There will be education section
        </div>
    </div>
{% endblock %}