<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widthh=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Portfolio Website">
    <meta name="author" content="Szymon Tomasiak">
    <title>Portfolio Website</title>
    <!-- Load Bootstrap-Flask CSS -->
    {{ bootstrap.load_css() }}
    <!-- Bootstrap CSS -->
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
</head>

<!-- Navigation bar -->
        <!-- Work on it -->