{% extends 'base.html' %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for message in messages %}
                    <div class="text-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div class="col-lg-8 col-md-10 col-xs-12">
        <section class="hero"></section>
        <section class="about-me"></section>
        <section class="featured-projects"></section>
        <section class="contact"></section>
    </div>

{% endblock %}